
body{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1rem;
    background: #eaf0fe;
}
.input-group{
    justify-content: center;
}
#time{
    font-size: 2rem;
}
#date{
    font-size: 1rem;
}
.banner{
    text-align: right;
    color: #1F3D77;
    padding: 20px;
    background: #ffffff;
    font-weight: bold;
    margin-top: 10px;
    border: 1px solid #1F3D77;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-blue{
    background-color: #1F3D77;
    color: white;
    border: none;
    padding: 15px;
    width: 120px;
}
.btn-green{
    background-color: #179824;
    color: white;
    padding: 10px;
    width: 140px;
    border-radius: 50px;
}
.btn-yellow{
    background-color: #ffc107;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 140px;
    border-radius: 50px;
}
.btn-red{
    background-color: #C70B0B;
    color: white;
    padding: 15px;
    width: 120px;
}
.btn-gray{
    background-color: #b3b3b3;
    color: white;
    padding: 15px;
    width: 120px;
}
.btn-map{
    background-color: #1F3D77;
    color: white;
    padding: 15px;
}

.switch-field {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #ffffff;
    color: #00c6b6;
    line-height: 2;
    text-align: center;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
    border: 1px solid #4CAF50;
    border-radius:5px;
}
.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #1F3D77;
    color: rgb(255, 255, 255);
    box-shadow: none;
    font-weight: bold;
    border: 1px solid #EAF0FE;
}
.switch-field label:first-of-type {
    border-radius:5px;}

.switch-field label:last-of-type {
    border-radius:5px;
}

.form-control {
    padding: 0.5rem 0.75rem !important;
    border: 1px solid #1F3D77;
}

.input-group{
    display: flex;
    justify-content: space-between;
}

.input-icons span {
    position: absolute;
    padding: 10px 15px;
    color: #1F3D77;
}
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    text-align: left;
    border: 1px solid #EAF0FE;
    border-radius: 5px;
    padding:10px 50px ;
    
}
.card{
    border: 1px solid #EAF0FE;
}
#locationInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-time{
    width: 100%;
}
 td {
    width: 100%;
    max-width: 100px;
    color: #eaf0fe;
}

.footerbar{
display: flex;
   flex-direction: row-reverse;
}
.textbox{
    color: #eaf0fe;
    border: 1px solid #eaf0fe;
    position: absolute;
    z-index: -99;
    background: #eaf0fe;
}
.card {
    background: #fff;
    border: 1px solid #EAF0FE;
}
